<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav>
        <ul class="list-unstyled main-menu">
            <!--Include your navigation here-->
            <li class="text-right"><a href="#" id="nav-close">X</a></li>
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li><a class="change-page" data-target="NicksBets">Prop Bets</a></li>
            <li>@Html.ActionLink("About", "About", "Home")</li>
            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>

            <li><a class="glyphicon glyphicon-globe" data-target="Map" style="font-size: 1.3em;"></a></li>
        </ul>
        @Html.Partial("_LoginPartial")
    </nav>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <!--Include your brand here-->
        @Html.ActionLink("Happy Ball", "Index", "Home", null, new { @class = "navbar-brand" })

        <div class="navbar-header pull-right">
            <a id="nav-expander" class="nav-expander fixed">
                MENU &nbsp;<i class="glyphicon glyphicon-align-justify"></i>
            </a>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
        $(document).ready(function () {

            //Navigation Menu Slider
            $('#nav-expander').on('click', function (e) {
                e.preventDefault();
                $('body').toggleClass('nav-expanded');
            });
            $('#nav-close').on('click', function (e) {
                e.preventDefault();
                $('body').removeClass('nav-expanded');
            });


            // Initialize navgoco with default options
            $(".main-menu").navgoco({
                caret: '<span class="caret"></span>',
                accordion: false,
                openClass: 'open',
                save: true,
                cookie: {
                    name: 'navgoco',
                    expires: false,
                    path: '/'
                },
                slide: {
                    duration: 300,
                    easing: 'swing'
                }
            });


        });
    </script>



</body>
</html>
