<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.02, maximum-scale=1, minimum-scale=1, user-scalable=no">


    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/marker")

    

    @*<link href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Content/css")" rel="stylesheet" type="text/css" />*@

    <link href='https://api.tiles.mapbox.com/mapbox.js/v2.0.1/mapbox.css' rel='stylesheet' />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">


    @Scripts.Render("~/bundles/modernizr")

    <script src='https://api.tiles.mapbox.com/mapbox.js/v2.0.1/mapbox.js'></script>
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>


    <link rel='stylesheet' media='screen and (max-width: 700px)' href='~/Content/Site-Mobile.css' />
    <link rel='stylesheet' media='screen and (min-width: 701px)' href='~/Content/Site.css' />


</head>
<body>
    <div id="wrap">


        <div class="navbar navbar-inverse navbar-fixed-top container-fluid1">
            <!--Include your brand here-->
            @Html.ActionLink("Happy Ball 2.0", "Index", "Home", null, new { @class = "navbar-brand header-title" })


            <ul class="nav navbar-nav">
                <li><a class="home-link" title="Prop Bets" href="#home"><i class="fa fa-bullhorn"></i><span>Home</span></a></li>
                <li><a class="prop-link" title="Prop Bets" href="#prop"><i class="fa fa-bullhorn"></i><span>Props</span></a></li>
                <li><a class="king-link" title="Prop Bets" href="#king"><i class="fa fa-sign-in"></i><span>Kings</span></a></li>
                <li><a class="map-link" title="Prop Bets" href="#map"><i class="fa fa-search"></i><span>Map</span></a></li>
                <li><a class="about-link" title="Prop Bets" href="#about"><i class="fa fa-search"></i><span>About</span></a></li>
            </ul>

        </div>





        <div>
            @RenderBody()
            @*<hr />*@

        </div>
    </div>

        @Html.Partial("_Footer")

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/marionette")
        @Scripts.Render("~/bundles/bootstrap")









        @RenderSection("scripts", required: false)

        <script>
            $(document).ready(function () {

                console.log('wtf dude regular layout');

                //Navigation Menu Slider
                $('#nav-expander').on('click', function (e) {
                    e.preventDefault();
                    $('body').toggleClass('nav-expanded');
                });
                $('#nav-close').on('click', function (e) {
                    e.preventDefault();
                    $('body').removeClass('nav-expanded');
                });


                // Initialize navgoco with default options
                $(".main-menu").navgoco({
                    caret: '<span class="caret"></span>',
                    accordion: false,
                    openClass: 'open',
                    save: true,
                    cookie: {
                        name: 'navgoco',
                        expires: false,
                        path: '/'
                    },
                    slide: {
                        duration: 300,
                        easing: 'swing'
                    }
                });
            });
        </script>



</body>
</html>
