@{
    ViewBag.Title = "Home Page";
}


@if (Request.IsAuthenticated)
{
    <div id="main-content">
    </div>
}
else
{
    <div class="container nick-container">
        <div id="Home" class="container-fluid">
            <div class="jumbotron">
                <h1>You need you to log in, bro.</h1>
                <p>Helllllo, lets get this party started. Log in please.</p>
                <ul style="list-style-type: none">
                    <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-primary btn-large" })</li>
                </ul>
            </div>
        </div>
    </div>
}


<div id="learnMore" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Noooo Dont log out!</h4>
            </div>
            <div class="modal-body">
                @Html.Partial("_LoginPartial")
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->



<div id="modalSuccess" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Success!</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-success">
                    <p>You have submitted to the server, thanks chump</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<div id="modalFailed" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header alert alert-danger">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Too late!</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger">
                    <p>You have to submit before each Thursday Night football game.</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div id="mapModalFail" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Something Fucked up</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<div id="mapModalSuccess" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Submited to da GeoMaster!</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->



<div id="geoMasterModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Welcome to da GeoMaster!</h4>
            </div>
            <div class="modal-body">
                <h4>Here is what you need to know..</h4>
                <p>I am a Geo Nerd, So you have to play my little game.</p>
                <p>Click the Tower Button to start the quiz, a question will appear at the top of the map and Timer will appear at the bottom. 
                The goal is to drag the map to move the marker closest to where you think the correct answer is. Click the timer button on the button bar on the
                side to submit your answer. Goodluck yo!
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">No!, Im a loser</button>
                <button id="geoMaster-start-btn" type="button" class="btn btn-success" data-dismiss="modal">Start the Quiz!</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->



    <!-- Modal -->
<div class="modal fade" id="LearnMoreModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Welcome!</h4>
            </div>
            <div class="modal-body">
                <h4>Here is what you need to know..</h4>
                <p>This is a place to get your gamble on within our Fantasy League.</p>
                <p>The <b>Weekly</b> tab is where we have the head to head matchups, with one Game of the Week worth 2x the amount!</p>
                <p>The <b>Seasonal</b> Tab is where it gets real! Accumulate stocks in teams over the season, look out for good deals as the prices changes weekly.</p>
                <p>I also added side bets to mix it up, check out <b>Nick's Bets</b> and try and keep up, punk.</p>
                <p>Most of the data will be displayed on the <b>Leader Board</b> tab!</p>
                <p>I also did my best for this app to work on both <b>Desktop</b> and <b>Mobile</b> browsers. So feel free to log in on the go.</p>
                <p><b>Oh, and dont forget! You have to submit your bets before each Thursday Night football game.</b></p>
                <hr />
                <h4>From the author...</h4>
                <p>
                    Hey whats up everyone, this is Nick V, the <b>Touchdown Jesus</b>.
                    If this app isn't for you, thats cool. If no one uses it, thats cool too. I set out to learn some shit by building an App on my own,
                    as this is the first time I have used these technologies on my own. I have accomplished what I set out to do, and am proud of myself for getting it to this point.
                    <br />
                    <br />
                    Having said that, it would be a bonus if our league actually does use this. However, I'm positive something will break, but I will try and do my best
                    to fix it! I will also probably be changing things around a lot, I'll keep you posted when I do. But please hit me up with any questions, commments,
                    or issues you run into. <b>navolpe@gmail.com</b>
                </p>
                <p><b>Thanks!</b></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Got it</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<!-- This was causing problems when inserted in the main-content div,
was being removed from div when new route was hit because the show/hid
punted that shit -->
@Html.Partial("Templates/_Templates")

@section scripts{

    @*@Scripts.Render("~/bundles/marionette")*@
    @Scripts.Render("~/bundles/backbone-extensions")
    @Scripts.Render("~/bundles/utilities")


    <script src='https://api.tiles.mapbox.com/mapbox.js/v2.0.1/mapbox.js'></script>

    @Scripts.Render("~/bundles/happyBall")

    <script src='HappyBall\Scripts\Public\leaflet-awesome-markers\leaflet.awesome-markers.js'></script>


    <script type="text/javascript">

        if ('@User.Identity.IsAuthenticated' === 'True') {

            var userTeamName = '@ViewBag.TeamName';
            var siteRoot = '@ViewBag.SiteRoot';
            var userName = '@ViewBag.UserName';
            var userId = '@ViewBag.UserId';
            var resultId = '@ViewBag.ResultId';

            var config = {
                siteRoot: siteRoot,
                userTeamName: userTeamName,
                userName: userName,
                userId: userId,
                resultId: resultId,
                regions: {
                    MainRegion: '#main-content'
                }
            };

            //--------------------------------
            // Spin up app
            //--------------------------------

            ffa.App.start(config);
        
        }



    </script>

}