@{
    ViewBag.Title = "Home Page";
}


<div id="main-content" class="container-fluid">
</div>
    
    <!-- This was causing problems when inserted in the main-content div, 
    was being removed from div when new route was hit because the show/hid
    punted that shit -->
    @Html.Partial("Templates/_Templates")


@section scripts{

    @Scripts.Render("~/bundles/marionette")
    @Scripts.Render("~/bundles/backbone-extensions")
    @Scripts.Render("~/bundles/utilities")
    @Scripts.Render("~/bundles/happyBall")


    <script type="text/javascript">

        var options = {
            regions: {
                MainRegion: '#main-content'
            }
        };

        //--------------------------------
        // Spin up app
        //--------------------------------

        ffa.App.start(options);

    </script>

}