@{
    ViewBag.Title = "Home Page";
}


<div id="main-content" class="container-fluid">

    
    <div id="home-region"></div>
    <div id="prop-region"></div>


    @Html.Partial("Templates/_Templates")

</div>




@section scripts{

    @Scripts.Render("~/bundles/marionette")
    @Scripts.Render("~/bundles/backbone-extensions")
    @Scripts.Render("~/bundles/utilities")
    @Scripts.Render("~/bundles/happyBall")


    <script type="text/javascript">

        var options = {
            regions: {
                HomeRegion: '#home-region',
                PropRegion: '#prop-region'
            }
        };

        //--------------------------------
        // Spin up app
        //--------------------------------

        ffa.App.start(options);

    </script>

}